#Do not rewrite the .js and .css files in css & js folders
RewriteCond %{REQUEST_URI} ^.*/js/.*\.js$
RewriteRule ^.*/js/([a-zA-Z0-9_\-]+)\.js$ /js/$1.js [L]

RewriteCond %{REQUEST_URI} ^.*/css/.*\.css$
RewriteRule ^.*/css/([a-zA-Z0-9_\-]+)\.css$ /css/$1.css [L]



#Do not rewrite when loading the actual file
RewriteCond %{REQUEST_METHOD} GET

RewriteCond %{REQUEST_URI} ^.*editor\.jsp/.*\.java.*$
RewriteRule ^.*/editor.jsp/([a-zA-Z0-9_\-]+)/([a-zA-Z_0-9_\-/\.]+)/([0-9][0-9]?[0-9]?)$ /editor.jsp?project=$1&file=$2&ratio=$3 [L,QSA]
RewriteRule ^.*/editor.jsp/([a-zA-Z0-9_\-]+)/([a-zA-Z_0-9_\-/\.]+)/$ /editor.jsp?project=$1&file=$2 [L,QSA]
RewriteRule ^.*/editor.jsp/$ /editor.jsp

RewriteCond %{REQUEST_URI} ^.*fold\.jsp/.*\.java.*$
RewriteRule ^.*/fold.jsp/([a-zA-Z0-9_\-]+)/([a-zA-Z_0-9_\-/\.]+)/([0-9][0-9]?[0-9]?)$ /fold.jsp?project=$1&file=$2&ratio=$3 [L,QSA]
RewriteRule ^.*/fold.jsp/([a-zA-Z0-9_\-]+)/([a-zA-Z_0-9_\-/\.]+)/$ /fold.jsp?project=$1&file=$2 [L,QSA]
RewriteRule ^.*/fold.jsp/$ /fold.jsp
